@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hero {
    background-image: radial-gradient(
        circle at center,
        transparent,
        #0f172a 85%
      ),
      url("/box-bg-green.png");
    @apply bg-no-repeat bg-cover;
  }

  .text-wrap-balance {
    text-wrap: balance;
  }
}
